<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuBMuM</title>
</head>
<body>

{% include 'header.html' %}



<div class="slideshow-container">
  <div class="slideshow">
    <img src="static/image_1.jpg" alt="Image 1" class="slide">
    <img src="static/image_2.jpg" alt="Image 2" class="slide">
    <img src="static/image_3.jpg" alt="Image 3" class="slide">
    <img src="static/image_4.jpg" alt="Image 4" class="slide">
    <img src="static/image_5.jpg" alt="Image 5" class="slide">
    <img src="static/image_6.jpg" alt="Image 6" class="slide">
    <img src="static/image_7.jpg" alt="Image 7" class="slide">
    <img src="static/image_8.jpg" alt="Image 8" class="slide">
    <img src="static/image_10.jpg" alt="Image 10" class="slide">
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const brandName = 'BuBMuM';
    const effects = ['speaking', 'happy', 'sad'];
    let currentIndex = 0;

    function animateTitle() {
        let animatedTitle = '';
        for (let i = 0; i < brandName.length; i++) {
            if (i === currentIndex) {
                const effect = effects[Math.floor(Math.random() * effects.length)];
                animatedTitle += `(${brandName[i]})`; // You can use different characters to represent effects
            } else {
                animatedTitle += brandName[i];
            }
        }
        document.title = animatedTitle;
        currentIndex = (currentIndex + 1) % brandName.length;
    }

    setInterval(animateTitle, 500); // Change effect every 500ms
});
</script>

</body>
<footer>{% include 'footer.html' %}</footer>
</html>